In [2]:
# 
# MC Data Bootcamp 2019
# Project #1
# Name: Sungyong In
#

import pandas as pd
import numpy as n

# 
# Load DC property data, DC_properties.csv, into a dataframe
#

df = pd.read_csv("datasets/DC_properties.csv")
df.shape
df.head()

C:\Users\david\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
# let's find about the size of the dataset
df.shape

(158957, 49)

In [4]:
# Let's drop duplicate rows
#df_clean = df.drop_duplicates()

In [5]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [6]:
# Let's print out column headings/indexes
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [7]:
# Let's drop the column heading called 'Unnamed: 0' from the dataframe, df, and save it into another dataframe, df2.
df2 = df.drop('Unnamed: 0', axis=1)
df2.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS', 'BEDRM',
       'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE', 'QUALIFIED',
       'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE', 'CNDTN',
       'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE',
       'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA',
       'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE',
       'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT',
       'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [8]:
df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [9]:
# Let's find out duplicate rows from the dataframe, df2, and save it as "dupe".
dupe = df2.duplicated()
df2[dupe]

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
75079,4,0,Hot Water Rad,N,4.0,16,4,1932.0,NaN,1954,...,-76.984640,Trinidad,052 B Trinidad,8802.0,NaN,Ward 5,4062,-76.984643,38.903371,NE
106715,1,0,Ht Pump,Y,NaN,4,2,1937.0,2009.0,1937,...,-77.012602,Petworth,042 C Petworth,2102.0,NaN,Ward 4,3399,-77.012605,38.952882,NW
106716,1,0,Ht Pump,Y,NaN,4,2,1937.0,2009.0,1937,...,-77.012602,Petworth,042 C Petworth,2102.0,NaN,Ward 4,3399,-77.012605,38.952882,NW
106717,1,0,Ht Pump,Y,NaN,4,2,1937.0,2009.0,1937,...,-77.012602,Petworth,042 C Petworth,2102.0,NaN,Ward 4,3399,-77.012605,38.952882,NW
106784,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,0546,-77.016303,38.874797,SW
106968,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106969,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106970,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106973,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106974,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106975,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106976,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106977,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106978,1,0,Ht Pump,Y,NaN,3,1,1952.0,2007.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106980,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106981,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106986,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106987,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106988,1,0,Ht Pump,Y,NaN,4,2,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106989,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
106990,1,0,Ht Pump,Y,NaN,3,1,1952.0,2015.0,1952,...,-76.994958,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5956,-76.994960,38.842964,SE
107050,1,0,Forced Air,Y,NaN,4,1,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107056,1,0,Forced Air,Y,NaN,5,2,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107061,1,0,Forced Air,Y,NaN,4,1,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107062,1,0,Forced Air,Y,NaN,5,2,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107064,1,0,Forced Air,Y,NaN,5,2,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107066,1,0,Forced Air,Y,NaN,4,1,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107067,1,0,Forced Air,Y,NaN,4,1,1964.0,1987.0,1964,...,-76.999758,Congress Heights,016 B Congress Heights,9804.0,NaN,Ward 8,5970,-76.999760,38.840220,SE
107197,2,0,Forced Air,Y,NaN,5,2,1941.0,2014.0,1941,...,-76.980646,Anacostia,002 B Anacostia,7504.0,NaN,Ward 8,5778,-76.980648,38.863556,SE
107227,1,0,Ht Pump,Y,NaN,4,2,1942.0,2008.0,1942,...,-77.000701,Congress Heights,016 B Congress Heights,10400.0,NaN,Ward 8,5997,-77.000703,38.848216,SE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157422,1,1,Ht Pump,Y,NaN,4,1,1991.0,NaN,1991,...,-77.021011,Central-tri 3,NaN,5800.0,NaN,Ward 2,459,-77.021014,38.893756,NW
157428,1,1,Ht Pump,Y,NaN,4,1,1991.0,NaN,1991,...,-77.021011,Central-tri 3,NaN,5800.0,NaN,Ward 2,459,-77.021014,38.893756,NW
157604,2,0,Warm Cool,Y,NaN,6,2,1961.0,NaN,1961,...,-77.014271,Southwest Waterfront,NaN,10500.0,NaN,Ward 6,540,-77.014273,38.880828,SW
157636,2,0,Warm Cool,Y,NaN,5,2,1961.0,NaN,1961,...,-77.014271,Southwest Waterfront,NaN,10500.0,NaN,Ward 6,540,-77.014273,38.880828,SW
157640,2,0,Warm Cool,Y,NaN,5,2,1961.0,NaN,1961,...,-77.014271,Southwest Waterfront,NaN,10500.0,NaN,Ward 6,540,-77.014273,38.880828,SW
157642,2,0,Warm Cool,Y,NaN,5,2,1961.0,NaN,1961,...,-77.014271,Southwest Waterfront,NaN,10500.0,NaN,Ward 6,540,-77.014273,38.880828,SW
157916,1,0,Elec Base Brd,Y,NaN,3,0,1960.0,2009.0,1960,...,-77.016943,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,542,-77.016945,38.877546,SW
158104,1,0,Forced Air,Y,NaN,2,0,2017.0,2017.0,2017,...,-77.024623,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,473,-77.024625,38.879279,SW
158131,1,0,Forced Air,Y,NaN,2,0,2017.0,2017.0,2017,...,-77.024623,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,473,-77.024625,38.879279,SW
158146,1,0,Warm Cool,Y,NaN,3,1,1965.0,NaN,1965,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158298,1,0,Warm Cool,Y,NaN,2,0,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158306,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158308,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158315,1,0,Warm Cool,Y,NaN,2,0,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158345,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,1965,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158418,2,0,Warm Cool,Y,NaN,5,2,1961.0,NaN,1961,...,-77.014271,Southwest Waterfront,NaN,10500.0,NaN,Ward 6,540,-77.014273,38.880828,SW
158438,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158448,1,0,Warm Cool,Y,NaN,4,2,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158458,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158459,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158681,3,0,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158696,3,0,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158698,3,0,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158721,3,0,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158723,3,0,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158728,2,1,Warm Cool,Y,NaN,5,2,1967.0,NaN,1967,...,-77.016301,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,546,-77.016303,38.874797,SW
158848,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158849,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158863,1,0,Warm Cool,Y,NaN,3,1,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW
158866,1,0,Warm Cool,Y,NaN,4,2,1967.0,NaN,1967,...,-77.020322,Southwest Waterfront,NaN,10200.0,NaN,Ward 6,468,-77.020324,38.880130,SW

In [10]:
# Now, let's drop the duplicate rows from the new dataframe, df2, and save it into another dataframe, nodupe_df2.
nodupe_df2 = df2.drop_duplicates()
nodupe_df2.count()

BATHRM                157449
HF_BATHRM             157449
HEAT                  157449
AC                    157449
NUM_UNITS             106695
ROOMS                 157449
BEDRM                 157449
AYB                   157180
YR_RMDL                80001
EYB                   157449
STORIES               106651
SALEDATE              131624
PRICE                  97839
QUALIFIED             157449
SALE_NUM              157449
GBA                   106695
BLDG_NUM              157449
STYLE                 106695
STRUCT                106695
GRADE                 106695
CNDTN                 106695
EXTWALL               106695
ROOF                  106695
INTWALL               106695
KITCHENS              106694
FIREPLACES            157449
USECODE               157449
LANDAREA              157449
GIS_LAST_MOD_DTTM     157449
SOURCE                157449
CMPLX_NUM              50754
LIVING_GBA             50754
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               157448
NATIONALGRID          106051
LATITUDE              157448
LONGITUDE             157448
ASSESSMENT_NBHD       157448
ASSESSMENT_SUBNBHD    125698
CENSUS_TRACT          157448
CENSUS_BLOCK          106051
WARD                  157448
SQUARE                157449
X                     157212
Y                     157212
QUADRANT              157212
dtype: int64

In [11]:
# Let's check the size of the new dataframe 'nodupe_df2'
nodupe_df2.shape

(157449, 48)

In [12]:
nodupe_df2.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [13]:
# Let's find out about statistics on the new dataframe, nodupe_df2.
nodupe_df2.describe()

,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,PRICE,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,157449.000000,157449.000000,106695.000000,157449.000000,157449.000000,157180.000000,80001.000000,157449.000000,106651.000000,9.783900e+04,...,157449.000000,157449.000000,50754.000000,50754.000000,157448.000000,157448.000000,157448.000000,157448.000000,157212.000000,157212.000000
mean,1.816601,0.461273,1.198013,6.213377,2.746464,1941.807711,1998.316296,1963.745505,2.091794,7.205690e+05,...,14.231681,2489.816537,2377.335974,891.497872,20012.636420,38.914896,-77.016548,5349.551674,-77.016584,38.914888
std,0.978298,0.588547,0.596866,2.615108,1.355304,33.663140,16.588174,24.927464,2.933336,4.818861e+06,...,3.736776,5079.899294,1115.047255,421.327472,15.518216,0.031732,0.040905,3366.090004,0.040899,0.031691
min,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,1.000000e+00,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,2.400000e+05,...,11.000000,713.000000,1502.000000,618.000000,20007.000000,38.895425,-77.042766,2102.000000,-77.042793,38.895432
50%,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,3.999900e+05,...,13.000000,1656.000000,2273.000000,787.000000,20011.000000,38.915323,-77.019461,5201.000000,-77.019434,38.915212
75%,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,6.500000e+05,...,17.000000,3006.000000,2915.000000,1063.000000,20018.000000,38.936208,-76.988557,8302.000000,-76.988837,38.936077
max,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,1.374275e+08,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [14]:
nodupe_df2['BATHRM'].max()

14

In [15]:
# Shoe the number of non-NA values
nodupe_df2.count()

BATHRM                157449
HF_BATHRM             157449
HEAT                  157449
AC                    157449
NUM_UNITS             106695
ROOMS                 157449
BEDRM                 157449
AYB                   157180
YR_RMDL                80001
EYB                   157449
STORIES               106651
SALEDATE              131624
PRICE                  97839
QUALIFIED             157449
SALE_NUM              157449
GBA                   106695
BLDG_NUM              157449
STYLE                 106695
STRUCT                106695
GRADE                 106695
CNDTN                 106695
EXTWALL               106695
ROOF                  106695
INTWALL               106695
KITCHENS              106694
FIREPLACES            157449
USECODE               157449
LANDAREA              157449
GIS_LAST_MOD_DTTM     157449
SOURCE                157449
CMPLX_NUM              50754
LIVING_GBA             50754
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               157448
NATIONALGRID          106051
LATITUDE              157448
LONGITUDE             157448
ASSESSMENT_NBHD       157448
ASSESSMENT_SUBNBHD    125698
CENSUS_TRACT          157448
CENSUS_BLOCK          106051
WARD                  157448
SQUARE                157449
X                     157212
Y                     157212
QUADRANT              157212
dtype: int64

In [16]:
nodupe_df2.groupby('AC')

In [17]:
# Let's find out mean prices based on whether AC is present or not
copy_df3 = nodupe_df2['PRICE'].groupby(nodupe_df2['AC']).mean()

In [18]:
copy_df3.head()

AC
0    1.276661e+06
N    3.467278e+05
Y    8.074572e+05
Name: PRICE, dtype: float64

In [20]:
copy_df3.shape

(3,)

In [21]:
copy_df3

AC
0    1.276661e+06
N    3.467278e+05
Y    8.074572e+05
Name: PRICE, dtype: float64

In [22]:
# Let's find out mean prices based on bathrooms
nodupe_df2['PRICE'].groupby(nodupe_df2['BATHRM']).mean()

BATHRM
0     2.130826e+06
1     7.109289e+05
2     6.142221e+05
3     7.722337e+05
4     9.582736e+05
5     1.897948e+06
6     2.482814e+06
7     3.709859e+06
8     3.285536e+06
9     7.024559e+06
10    2.429286e+06
11    6.075000e+06
12    1.225000e+07
13             NaN
14             NaN
Name: PRICE, dtype: float64

In [23]:
# Let's do a bit of clean-up of the dataset;
# Let's drop rows with no bathrooms and more than 5 bathrooms,and save it as 'new_df4'.
new_df4 = nodupe_df2.loc[(nodupe_df2['BATHRM'] >=1) & (nodupe_df2['BATHRM'] <=4)]

In [24]:
new_df4.shape

(155276, 48)

In [25]:
# Let's find out mean prices based on bathrooms again
new_df4['PRICE'].groupby(new_df4['BATHRM']).mean()

BATHRM
1    710928.857679
2    614222.082889
3    772233.701722
4    958273.614456
Name: PRICE, dtype: float64

In [26]:
new_df4.tail()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,1938,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,1938,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,1920,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,1965,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,1965,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [27]:
# Let's drop a few columns, NUM_UNITS, CENSUS_BLOCK, WARD, 
new_df5 = new_df4.drop(['NUM_UNITS', 'CENSUS_BLOCK', 'WARD'], axis =1)

In [28]:
new_df5.tail()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,NATIONALGRID,LATITUDE,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,SQUARE,X,Y,QUADRANT
158952,1,0,Forced Air,Y,3,1,1938.0,2006.0,1938,NaN,...,NaN,38.911840,-77.01942,Old City 2,040 B Old City 2,4801.0,477,-77.019422,38.911848,NW
158953,1,0,Forced Air,Y,4,2,1938.0,2006.0,1938,NaN,...,NaN,38.911840,-77.01942,Old City 2,040 B Old City 2,4801.0,477,-77.019422,38.911848,NW
158954,2,0,Forced Air,Y,4,2,1920.0,2007.0,1920,NaN,...,NaN,38.911840,-77.01942,Old City 2,040 B Old City 2,4801.0,477,-77.019422,38.911848,NW
158955,1,0,Warm Cool,Y,2,0,1965.0,NaN,1965,NaN,...,NaN,38.872953,-77.01823,Southwest Waterfront,NaN,11000.0,504,-77.018232,38.872961,SW
158956,1,0,Warm Cool,Y,2,0,1965.0,NaN,1965,NaN,...,NaN,38.872953,-77.01823,Southwest Waterfront,NaN,11000.0,504,-77.018232,38.872961,SW

In [29]:
new_df5.columns

Index(['BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'ROOMS', 'BEDRM', 'AYB', 'YR_RMDL',
       'EYB', 'STORIES', 'SALEDATE', 'PRICE', 'QUALIFIED', 'SALE_NUM', 'GBA',
       'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE', 'CNDTN', 'EXTWALL', 'ROOF',
       'INTWALL', 'KITCHENS', 'FIREPLACES', 'USECODE', 'LANDAREA',
       'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM', 'LIVING_GBA', 'FULLADDRESS',
       'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID', 'LATITUDE', 'LONGITUDE',
       'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT', 'SQUARE', 'X',
       'Y', 'QUADRANT'],
      dtype='object')

In [32]:
# Let's drop more columns, NUM_UNITS, CENSUS_BLOCK, WARD, 
new_df5 = new_df4.drop(['NUM_UNITS', 'CENSUS_BLOCK', 'WARD','NATIONALGRID', 'LATITUDE', 'LONGITUDE',
       'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD', 'CENSUS_TRACT', 'SQUARE', 'X',
       'Y', 'QUADRANT','USECODE','GBA','BLDG_NUM','CMPLX_NUM', 'LIVING_GBA'], axis =1)

In [33]:
new_df5.head()

,BATHRM,HF_BATHRM,HEAT,AC,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,INTWALL,KITCHENS,FIREPLACES,LANDAREA,GIS_LAST_MOD_DTTM,SOURCE,FULLADDRESS,CITY,STATE,ZIPCODE
0,4,0,Warm Cool,Y,8,4,1910.0,1988.0,1972,3.0,...,Hardwood,2.0,5,1680,2018-07-22 18:01:43,Residential,1748 SWANN STREET NW,WASHINGTON,DC,20009.0
1,3,1,Warm Cool,Y,11,5,1898.0,2007.0,1972,3.0,...,Hardwood,2.0,4,1680,2018-07-22 18:01:43,Residential,1746 SWANN STREET NW,WASHINGTON,DC,20009.0
2,3,1,Hot Water Rad,Y,9,5,1910.0,2009.0,1984,3.0,...,Hardwood,2.0,4,1680,2018-07-22 18:01:43,Residential,1744 SWANN STREET NW,WASHINGTON,DC,20009.0
3,3,1,Hot Water Rad,Y,8,5,1900.0,2003.0,1984,3.0,...,Hardwood,2.0,3,1680,2018-07-22 18:01:43,Residential,1742 SWANN STREET NW,WASHINGTON,DC,20009.0
4,2,1,Warm Cool,Y,11,3,1913.0,2012.0,1985,3.0,...,Hardwood,1.0,0,2032,2018-07-22 18:01:43,Residential,1804 NEW HAMPSHIRE AVENUE NW,WASHINGTON,DC,20009.0